
@media (min-width:320px) and (max-width:575px){
    h3 {
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.5;
        letter-spacing: -0.22px;
        color: #5a67b2;
      }
      h2 {
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: -0.31px;
        color: #5a67b2;
      }
      .navbar-nav {
        width: 201px;
        top: -163px;
        margin-top: -100px;
        background: #f2f3f5;
        z-index:444;
        padding: 100px 0px 0px 25px;
        
    }
    .collapse.show {
        display: block;
        z-index: 444;
    }
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        position: absolute;
        right: 9px;
        top: 0;
        z-index:555;
    }
    header .navbar .navbar-nav .nav-item .nav-link {
        text-align: left;
        padding: 0px;
        line-height: 48px;
        color: #8d97d7;
    }
    .mobile-none-btn{
        display:none;
    }
      .navbar-brand {
        margin-left: 30px;
    }
    header .header-shadow .header-shadow1 {
        top: -247px;
        left: -155px;
    }
    header .header-shadow .header-shadow3 {
        width: 252px;
        height: 170px;
        top: -102px;
        right: -45px;
        background: #5a67b2;
    }
    header nav .navbar-toggler i{
        font-size: 20px;
        color: #5a67b2;
        padding: 5px;
    }


    /* index banner part start */
    #privet-inex-banner .privet-index-banner-left .half-container-left {
        position: relative;
        width: auto; 
        height: 500px;
        padding: 0 30px ;
    }
    #privet-inex-banner .privet-index-banner-left .half-container-left .banner-content {
        padding-top: 18px;
        width: auto;
    }
    #privet-inex-banner .privet-index-banner-left .half-container-left .banner-content h3 {
        padding-top:15px;
    }
    #privet-inex-banner .privet-index-banner-left .half-container-left .banner-content h2 {
        padding-top: 15px;
    }
    #privet-inex-banner .privet-index-banner-left .half-container-left .banner-content .banner-m-btn {
        display:inline-block;
        font-size: 16px;
    }
    #privet-inex-banner .privet-index-banner-left .banner-1 {
        top: 133px;
        height:362px;
    }
    #privet-inex-banner .privet-index-banner-left .banner-2 {
        position: absolute;
        top: 496px;
        left: 50%;
        width: 200px;
        height: 266px;
        z-index: 1;
        transform: translateX(-50%);
    }
    #privet-inex-banner .privet-index-banner-right {
        margin-top: 270px;
    }
    #privet-inex-banner .privet-index-banner-right .img-item1 {
        position: absolute;
        top: 80px;
        left: 30px;
    }
    #privet-inex-banner .privet-index-banner-right .img-item2 {
        position: absolute;
        top: 80px;
        right: 30px;
        left:auto;
    }
    #privet-inex-banner .privet-index-banner-right .img-item3 {
        position: absolute;
        top: 240px;
        left: 30px;
    }
    #privet-inex-banner .privet-index-banner-right .img-item4 {
        position: absolute;
        top: 240px;
        right: 30px;
        left:auto;
    }

    #privet-inex-banner .banner-bottom-img {
        position: relative;
        margin-top: 385px;
    }
    #privet-inex-banner .banner-bottom-img .banner-img8 {
        top: 14px;
        left: 0px;
        width: 248px;
        height: 166px;
    }
    #privet-inex-banner .banner-bottom-img .banner-img7 {
        padding-left: 0;
        height: 273px;
        z-index: 2;
        margin-top: 165px;
    }
    #privet-inex-banner .banner-bottom-img .banner-img9 {
        top: 444px;
        left: 0;
        width: 381px;
        height: 150px;
    }
    #privet-index-about .privet-index-about-smoll-shadow {
        width: 296px;
        height: 296px;
        top: 198px;
        right: 81px;
        z-index: -4;
    }
    #privet-index-about .privet-index-about-img1 {
        width: 100%;
        height: 426px;
        margin-top: 314px;
    }
    #privet-index-about .privet-index-about-big-shadow {
        top: 140px;
        right: auto;
        z-index: -3;
        left: 73px;
    }
    #privet-index-about .privet-index-about-min-contant {
        width: auto;
        float: left;
    }
    #privet-index-about .privet-index-about-min-contant .about-content {
        position: relative;
        top: -40px;
        left: 0;
        width:auto;
        z-index: 44;
        padding:0 30px;
    }
    #privet-index-about .privet-index-about-min-contant .about-content p {
        padding-right: 0px;
    }
    #privet-index-about .privet-index-about-min-contant .about-content h3 {
        font-size:26px;
        }
    #privet-index-about .privet-index-about-min-contant .about-content h2 {
        padding-top: 17px;
        padding-bottom: 12px;
    }
    #privet-index-about .privet-index-about-img1 {
        width: 100%;
        height: 244px;
        margin-top: -36px;
        margin-left: 42px;
        width: 2;
    }
    #privet-index-about .privet-index-about-bottom .privet-index-about-bottom-img {
        height: 174px;
        width: 94%;
        position: absolute;
        top: -87px;
        right:3%;
        left: 3%;
    }
    #privet-index-about .privet-index-about-bottom-right {
        margin-top: 220px;
    }
    #privet-index-about .privet-index-about-bottom-right .content i {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #privet-index-about .privet-index-about-bottom {
        position: relative;
        padding-bottom:0px;
    }
    #privet-index-div-item .div-item-one .div-item-one-img img {
        height: 225px;
        width: 94%;
        position: absolute;
        top: -450px;
        right:3%;
        left: 3%;
        margin-left:0;
    }
    #privet-index-div-item .div-item-one .div-item-one-content {
        text-align: center;
        padding-left: 0px;
        margin-top: 308px;
    }
    #privet-index-div-item .div-item-two .div-item-two-img img {
        height: 225px;
        width: 100%;
        margin-left: 0px;
    }
    #privet-index-div-item i {
	padding-top: 10px;
	padding-bottom: 15px;
}
#privet-index-div-item .div-item-two .div-item-two-content {
	text-align: center;
	padding: 13px 25px 0px 25px;
}
#privet-index-div-item .div-item-two .div-item-two-img {
	padding-top: 105px;
}
#privet-index-div-item .div-item-two .smoll-shadow {
	display: none;
}
#privet-index-div-item .div-item-two .big-shadow {
	display: none;
}
#privet-index-div-item .div-item-two .third-shadow {
	display: none;
}
#privet-index-div-item ul {
	padding-top: 15px;
}
#privet-index-div-item .div-item-three .three-div-content h3 {
    font-size: 26px;
    padding-bottom: 20px;
}
#privet-index-div-item .div-item-three .three-div-content {
	text-align: left;
	padding-right: 15px;
	padding-left: 15px;
}
#privet-index-div-item .div-item-four {
	padding-top: 30px;
}
.mobile-none{
    display:none;
}
.des-none {
	display: block;
}
.mobile-p{
    padding: 0 10px;
}
#privet-index-div-item .div-item-four .div-item-four-img img {
    width: 100%;
    height:225px;
}
#privet-index-div-item .div-item-four .div-item-four-content {
	text-align: center;
	margin-left: 0px;
	padding: 42px 15px 0px 15px;
}
#privet-index-div-item .div-item-four .div-item-four-content .p2p {
	text-align: left;
	padding: 20px 0px 0px 0px;
}
#privet-index-div-item p {
	font-size: 12px;
}
#privet-index-div-item .div-item-five .div-item-five-img img {
	width: 100%;
	height: 163px;
	margin-right: -9px;
padding-left: 7px;
margin-left: 0;
}
#privet-index-div-item .div-item-five .div-item-five-content {
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	padding-top: 60px;
}
#privet-index-div-item .div-item-five .div-item-five-content i {
	padding-bottom: 20px;
	padding-top: 20px;
}
#privet-index-div-item .div-item-six {
	position: relative;
	padding-top: 15px;
	padding-bottom: 25px;
}
#privet-index-div-item .div-item-six .big-shadow {
	display: none;
}
#privet-index-div-item .div-item-six .smoll-shadow {
	display: none;
}
#privet-index-div-item .div-item-six .div-item-six-img img {
	width: 100%;
	height: 225px;
	margin-top: 30px;
}
#privet-index-div-item .div-item-six .div-item-six-content {
	text-align: center;
	padding: 0 15px;
	margin-left: 0px;
	margin-top: 43px;
}
#privet-index-div-item .div-item-six .div-item-six-content i {
	padding-bottom: 20px;
	padding-top: 15px;
}
footer {
	opacity: 0.88;
	background: #f2f3f5;
	margin-top: 15px;
}

#about-banner h3 {
	font-size: 20px;
}
#about-banner p {
	font-size: 12px;
	text-align: left;
	padding: 0px 10px;
	padding-bottom: 20px;
}
#about-banner {
	text-align: center;
	padding-top: 60px;
}
#about-img {
	padding-top: 45px;
}
#about-img h3{
    font-size:20px;
    padding-bottom: 13px;
}
#about-img .shadows .smoll-shadow {
	display: none;
}
#about-img .shadows .big-shadow {
	position: absolute;
	top: 315px;
	left: -231px;
}
#about-items h4 {
	font-size: 12px;
	font-weight: 700;
}
#about-items h5 {
    font-size: 10px;
    padding-bottom:35px;
}
#about-items .about-item p {
	font-size: 12px;
}
#about-items {
	padding-top: 30px;
	padding: 15px 15px 0px 15px;
}
#about-items .about-item {
	text-align: center;
	padding: 0 9px;
	padding-bottom: 30px;
}
#about-img img {
	height: 320px;
	width: 100%;
	display: inline-block;
}
#about-img img {
	height: 201px;
	width: 100%;
	display: inline-block;
}
#contact-banner h3 {
    font-size: 20px;
    padding-bottom: 10px;
}
#contact-banner ol li {
	font-size: 12px;
}
#contact-banner {
	padding-top: 59px;
}
#contact-form {
	padding-top: 95px;
}
#contact-form form {
	padding: 10px 10px;
	border-radius: 10px;
}
#contact-form form h3 {
	padding-bottom: 5px;
	text-align: center;
}
#contact-form form button {
	margin-bottom: 5px;
}
#contact-form .shadows .smoll-shadow {
	display: none;
}
footer {
	opacity: 0.88;
	background: #f2f3f5;
	margin-top: 15px;
	display: none;
}
#contact-form .shadows .big-shadow {
	position: absolute;
	top: 183px;
	left: -238px;
	width: 421px;
	height: 421px;
	opacity: 0.42;
	border-radius: 50%;
	z-index: -1;
	background-color: #8d97d7;
}
#default-contact-form .shadows .big-shadow {
	position: absolute;
	top: -80px;
	left: -235px;
	width: 421px;
	height: 421px;
	opacity: 0.42;
	border-radius: 50%;
	z-index: -1;
	background-color: #8d97d7;
}

#default-contact-form {
	padding-top: 95px;
}
#default-contact-form form {
	padding: 10px 10px;
	border-radius: 10px;
}
#default-contact-form form h3 {
	padding-bottom: 5px;
	text-align: center;
}
#default-contact-form form button {
	margin-bottom: 5px;
}
#default-contact-form .shadows .smoll-shadow {
	display: none;
}


#default-public-banner p {
	font-size: 20px;
	padding: 0 28px 0 18px;
	text-align: center;
}
#default-public-banner {
	padding-top: 68px;
}
#default-public-banner ol {
	padding-top: 45px;
    text-align: center;
    margin:0 -5px;
    margin-bottom: 30px;
}
#default-public-banner ol li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
#default-public-banner .right-btn {
	margin-left: 5px;
}
.default-contact-form{
    margin-top:50px;

}
#default-form form h3 {
	padding-bottom: 10px;
	text-align: center;
}
#default-form form {
	background: #f2f3f5;
	padding: 10px 10px;
	border-radius: 10px;
	text-align: center;
	opacity: 88%;
}
#default-form form input {
	margin-bottom: 15px;
}
#default-form form p {
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 5px;
}
#default-form .shadows .big-shadow {
	position: absolute;
	top: 236px;
	left: 59px;
	width: 410px;
	height: 410px;
	opacity: 0.42;
	border-radius: 50%;
	z-index: -22;
	background-color: #8d97d7;
}
#default-form .shadows .smoll-shadow {
	position: absolute;
	top: 291px;
	right: 87px;
    width: 279px;
    left:auto;
	height: 279px;
	opacity: 0.56;
	border-radius: 50%;
	z-index: -11;
	background-color: #5a67b2;
}
#default-form {
	padding-top: 240px;
	margin-bottom: 0px;
	overflow: hidden;
	padding-bottom: 240px;
}
#sent-contact {
	padding: 90px 30px 235px 30px;
}
#sent-fooer{
    display:block;
    background:none;
}
footer ul {
	text-align: center;
	height: 100px;
	background: none;
}
footer ul li{
    display:none;
}
#sent-contact-footer .footer-shadows .footer-smoll {
    display: none;
    
}
#sent-contact-footer .footer-shadows .footer-big {
	position: absolute;
	left: -236px;
	top: -42px;
	width: 421px;
	height: 421px;
	opacity: 0.42;
	border-radius: 50%;
	z-index: -122;
	background-color: #8d97d7;
}
#sent-contact {
	padding: 90px 30px 220px 30px;
}
}



