header{
  padding: 36px 0px 24px 0px;
  .navbar-brand{
    img{
      height: 45px;
    display: inline-block;
    }
  }
  .navbar-nav{
    .nav-item{
      .nav-link{
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #5a67b2;
        padding: 14px 0px;
        margin: 0 20px;
        @include trans(0.3s,0s);
        position: relative;
        &::after{
          content: '';
          position: absolute;
          height: 3px;
          width: 0%;
          background-color: $main_col;
          left: 0;
          bottom: 5px;
          border: 0px;
          @include trans(0.3s,0s);
        }

        &:hover{
          color: #4556b7;
        }
        &:hover::after{
          width: 100%;
        }
       
        &.active{
          position: relative;
          &::after{
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $main_col;
            left: 0;
            bottom: 5px;
            border: 0px;
            @include trans(0.3s,0s);
          }
        }
      }
      
      .dropdown-menu {
        padding: 0px;
        text-align: center;
        margin-top: 23px;
        &::after{
          width: 0;
          border-right: 0;
          border-left: 0px;
        }
        .dropdown-item{
          background-color: #8d97d7;
          color: white;
          line-height: 43px;
          padding: 0px 23px;
          @include trans(0.3s,0s);
          &:hover{
            background-color: white;
            color: $main_col;
          }
        }
      }
      
      .m-btn{
        color: white;
        @include trans(0.4s,0s);
        padding: 14px 20px;
        margin: 0px;
        &:hover{
          color: $main_col;
          background-color: white;
        }
      }
    }
  }
}